@function remChange($args) {
  @return  $args / 750 * 10rem;
}
@mixin line-clamp ($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}
@mixin flex-box($content,$direction){
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
}
$primary-color:rgb(212,60,51);
$sign-bg-color:rgb(188,139,73);
$font-color: rgb(55,55,55);
$font-color-sec:rgb(80,80,80);
$font-tint-color:rgb(125,125,125);
$border-color:rgb(220,220,220);
$white-color:rgb(255,255,255);
.flex-box-around{
  display: flex;
  > div{
    width: 25%;
    justify-content: space-around;
  }
}
.icon-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  div{
    justify-content: space-around;
    &.icon{
      margin: remChange(8) 0;
      line-height: remChange(40);
      i{
        font-size: remChange(40);
      }
    }
    &.tag{
     height: remChange(30);
    }
  }
  span{
    font-size: remChange(24);
  }
}