@function remChange($args) {
  @return  $args / 750 * 10rem;
}

.flex-box-around{
  display: flex;
  > div{
    width: 25%;
    justify-content: space-around;
  }
}
.icon-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  > div{
    justify-content: space-around;
    &.icon{
      margin: remChange(8) 0;
      line-height: remChange(40);
      img{
        width: remChange(40);
        height: remChange(40);
      }
    }
    &.tag{
     height: remChange(30);
    }
  }

  span{
    font-size: remChange(12);
  }
}