@import "reset";
@import "common";
@font-face {
  font-family: 'iconfont';  /* project id 488107 */
  src: url('//at.alicdn.com/t/font_488107_vcatvcpko1rlik9.eot');
  src: url('//at.alicdn.com/t/font_488107_vcatvcpko1rlik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_488107_vcatvcpko1rlik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_488107_vcatvcpko1rlik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_488107_vcatvcpko1rlik9.svg#iconfont') format('svg');
}
.music-icon{
  font-family: iconfont;
}
.box-page{
  color: #333;
  .header-box{
    position: fixed;
    top: 0;
    left: 0;
    width: remChange(750);
    height: remChange(80);
  }
  .footer-box{
    position: fixed;
    bottom: 0;
    left: 0;
    width: remChange(750);
  }
  .content-box{
    width: remChange(750);
    padding: remChange(80) 0 remChange(100);
  }
}
.box-router{
  width: remChange(750);
  min-height: remChange(200);
}